# This Prettier ignore file is part of Share₂Fedi
# https://github.com/kytta/share2fedi
#
# SPDX-FileCopyrightText: © 2023 Nikita Karamov <me@kytta.dev>
# SPDX-License-Identifier: CC0-1.0

.vercel/
/dist/
node_modules/
script/

pnpm-lock.yaml
src/i18n/translations/*.json
