---
/*!
 * © 2023 Nikita Karamov
 * Licensed under AGPL v3 or later
 */
import Layout from "@layouts/layout.astro";
import Form from "@components/form.astro";
import { Content as PrivacyNotice } from "@pages/_privacy.md";
import { Content as Licence } from "@pages/_licence.md";

import LanguageSelect from "@components/language-select.astro";

const searchParameters = new URL(Astro.request.url).searchParams;
const prefilledText = searchParameters.get("text");
const prefilledInstance = searchParameters.get("instance");
---

<Layout title="Share₂Fedi — an instance-agnostic share page for the Fediverse">
	<header>
		<img
			src="/logo.svg"
			alt="Share2Fedi"
			width="195"
			height="60"
		/>

		<LanguageSelect />
	</header>
	<main>
		<Form
			{prefilledText}
			{prefilledInstance}
		/>
	</main>
	<aside>
		<p data-translate="description">
			Share₂Fedi is an instance-agnostic share page for
			<a
				href="https://en.wikipedia.org/wiki/Fediverse"
				data-translate="fediverse"
				>the Fediverse</a
			>. With it, you can post to various federated platforms from a single
			page.
		</p>
		<p><b data-translate="supportedProjects">Supported projects:</b></p>
		<ul>
			<li>
				Mastodon (<span data-translate="incl">incl.</span> Hometown, Fedibird,
				GlitchCafé)
			</li>
			<li>
				Misskey (<span data-translate="incl">incl.</span> Firefish/Calckey,
				FoundKey, Meisskey)
			</li>
			<li>Friendica</li>
			<li>Hubzilla</li>
			<li>GNU Social</li>
		</ul>
		<p data-translate="credits">
			Share₂Fedi is developed and maintained by
			<a
				href="https://www.kytta.dev/"
				data-translate="nikita"
				>Nikita Karamov</a
			>. Source code is
			<a
				href="https://github.com/kytta/share2fedi"
				data-translate="onGitHub"
				>on GitHub</a
			>. Hosted with
			<a href="https://vercel.com">Vercel</a>.
			<a
				href="https://stats.uptimerobot.com/QOXj3uXPDX"
				data-translate="statusPage"
				>Status page</a
			>.
		</p>
		<details>
			<summary data-translate="licence">Licence</summary>
			<Licence />
		</details>
		<details>
			<summary data-translate="privacyNotice">Privacy Notice</summary>
			<PrivacyNotice />
		</details>
	</aside>
</Layout>
