$text-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', $text-font;

$bg: #1F232B;
$text: #9baec8;
$title:#d9e1e8;

$footer-bg: #16191F;

$button-bg: #3c99dc;
$button-hover-bg: #4ea2df;
$button-text: white;

$input-bg: #131419;
