---
/*!
 * © 2023 Nikita Karamov
 * Licensed under AGPL v3 or later
 */
import InstanceSelect from "@components/instance-select.astro";

const { prefilledText, prefilledInstance } = Astro.props;
---

<form
	id="form"
	action="/api/share"
	method="POST"
>
	<label data-translate="postText">
		Post text
		<textarea
			name="text"
			id="text"
			rows="7"
			placeholder="What’s on your mind?"
			required
			data-translate="postTextPlaceholder"
			data-translate-attribute="placeholder"
			>{prefilledText}</textarea
		>
	</label>

	<InstanceSelect {prefilledInstance} />

	<input
		type="submit"
		value="Publish"
		data-translate="publish"
		data-translate-attribute="value"
	/>
</form>
