<!--
This file is part of Share₂Fedi
https://github.com/kytta/share2fedi

SPDX-FileCopyrightText: © 2023 Nikita Karamov <me@kytta.dev>
SPDX-License-Identifier: CC0-1.0
-->

<details>
	<summary data-translate="licence">Licence</summary>
	<p
		data-translate="licence1"
		dir="auto"
	>
		Share₂Fedi is free software: you can redistribute it and/or modify it under
		the terms of the GNU Affero General Public License, version 3, as published
		by the Free Software Foundation.
	</p>

	<p
		data-translate="licence2"
		dir="auto"
	>
		Share₂Fedi is distributed in the hope that it will be useful, but WITHOUT
		ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
		FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
		for more details.
	</p>
</details>
