<details>
	<summary data-translate="privacyNotice">Privacy Notice</summary>
	<p>
		s2f.kytta.dev is hosted on Vercel. Vercel processes IP addresses, system
		configuration information, and other information about traffic to and from
		s2f.kytta.dev. Vercel does not store this information nor does it get shared
		with third parties. See
		<a href="https://vercel.com/legal/privacy-policy#customers"
			>Vercel's privacy policy</a
		>
		for more information.
	</p>
	<p>
		When you click the ‘Publish’ button, you’ll get redirected to a Fediverse
		instance you’ve specified. It may process and/or store your data. Please
		refer to the privacy policy of the respective instance.
	</p>
</details>
