<!--
This file is part of Share₂Fedi
https://github.com/kytta/share2fedi

SPDX-FileCopyrightText: © 2023, 2026 Nikita Karamov <me@kytta.dev>
SPDX-License-Identifier: CC0-1.0
-->

<details>
	<summary data-translate="privacyNotice">Privacy Notice</summary>
	<p
		data-translate="privacy2"
		dir="auto"
	>
		When you click the ‘Publish’ button, you’ll get redirected to a Fediverse
		instance you’ve specified. It may process and/or store your data. Please
		refer to the privacy policy of the respective instance.
	</p>
</details>
