<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title toot

        link(rel="stylesheet", href="main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto:wght@400;500&display=swap")
    body
        header
            h1 🐘 toot
            p
                | Quickly post on any Mastodon instance
        main
            form#form
                section
                    label(for="text") Post text
                    textarea#text(rows=6, name="text", required)
                section
                    label(for="instance") Mastodon instance URL
                    input#instance(type="url", name="instance", placeholder="https://", required)

                section.remember
                    input#remember(type="checkbox", name="remember")
                    label(for="remember") Autofill this instance URL next time

                section.submit
                    input(type="submit", value="Toot!")
        footer
            section
                a(href="https://joinmastodon.org/") What is Mastodon?
            section
                a(href="https://github.com/NickKaramoff/toot") This project on GitHub

        script(src="index.js")