//-
	toot - Cross-instance share page for Mastodon
	Copyright (C) 2020-2021  Nikita Karamov <nick@karamoff.dev>

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>.

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title toot

		link(rel="stylesheet", href="main.css")
		link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)

		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="preload" as="style")
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" media="print" onload="this.media='all'")
		noscript
			link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")

		link(rel='icon' href='/favicon.ico')
		link(rel='icon' type='image/svg+xml' href='/apple-touch-icon.png')
		link(rel='apple-touch-icon' href='./icons/apple-touch-icon.png')
		link(rel='manifest' href='/site.webmanifest')
		meta(name='theme-color' content='#3088d4')
	body
		header
			h1
				img(src="/icon.svg" width=72 height=72 alt="toot")
			p
				| for
				img(src="/mastodon.svg" width=95.5 height=27)
		main
			form#form
				section
					label(for="text") Post text
					textarea#text(rows=6, name="text", placeholder="What's on your mind?",required)
				section
					datalist#instances_list
					label(for="choose_instance") Choose your Mastodon instance
					input#instance(type="url", name="instance", placeholder="https://", list="instances_list", required)

				section.remember
					input#remember(type="checkbox", name="remember")
					label(for="remember") Remember my instance on this device

				section.submit
					input(type="submit", value="TOOT!")
		footer
			section
				a(href="https://joinmastodon.org/") What is Mastodon?
			section
				a(href="https://github.com/NickKaramoff/toot") toot on GitHub

		script(src="index.js")
