---
/*!
 * © 2023 Nikita Karamov
 * Licensed under AGPL v3 or later
 */
import "@styles/main.scss";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title data-translate="title">{title}</title>
		<meta
			name="description"
			content="Share₂Fedi is a share page for Mastodon, Pleroma, Misskey, and others. Type in your post text and the instance URL and click ‘Publish!’"
			data-translate="metaDescription"
			data-translate-attribute="content"
		/>
		<link
			rel="canonical"
			href={Astro.url}
		/>

		<link
			rel="icon"
			href="/favicon.ico"
			sizes="any"
		/>
		<link
			rel="icon"
			href="/icon.svg"
			type="image/svg+xml"
		/>
		<link
			rel="apple-touch-icon"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="manifest"
			href="/site.webmanifest"
		/>

		<meta
			name="generator"
			content={Astro.generator}
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
